header {
    font-family: 'Open Sans', sans-serif;
    align-items: center;
    display: flex;
    height: 80px;
    border: 1px solid #9C0F48;
    border-radius: 1em;
    padding-left: 1em;
    padding-right: 1em;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
    background-color: #9C0F48;
    box-shadow: 0px 0px 20px 0px #470D21;
}

.logodiv {
    width: 90px;
}

.nome span {
    color: #F9E4D4;
}

h1 {
    font-family: 'Open Sans', sans-serif;
}

h1.nome {
    color: #D67D3E;
    font-family: 'Open Sans', sans-serif;
}

.cinza {
    color: grey;
}

nav {
    margin-left: 720px;
}

nav a:hover {
    box-shadow: 0px 0px 5px 0px #00092C;
    border-radius: 5px;
}

.header a {
    float: left;
    color: #F9E4D4;
    text-align: center;
    padding: 8px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    flex: 1;
}

nav a:active {
    background-color: #D67D3E;
    transform: translateY(4px);
}

.aumentar {
    transition: 0.5s;
    margin-left: 10px;
}

.aumentar:hover {
    height: 80px;
    width: 80px;
}

#principal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 1%;
    width: 98%;
    height: 100%;
    border: 1px solid #D67D3E;
    border-radius: 1em;
    box-shadow: 0px 0px 15px 0px rgb(114, 114, 114);
    background-color: rgba(114, 114, 114, 0.080);
    margin-top: 1%;
}

.borda {
    border: 1px solid rgb(114, 114, 114);
    border-radius: 1em;
    box-shadow: 0px 0px 15px 0px rgb(114, 114, 114);
    transition: 0.5s;
}

.borda:hover {
    height: 250px;
    width: 250px;
}

.cor-vermelho {
    color: #9C0F48;
}

.container-fotos {
    height: 280px;
    width: 280px;
    padding: 5px;
}

.fotos {
    display: grid;
    grid-template-columns: 250px 250px 250px 250px 250px;
    padding-top: 20px;
    height: 100%;
}

form {
    padding-top: 50px;
    text-align: center;
    padding-bottom: 30px;
}

input {
    background-color: #FFFFFF;
    border-radius: 5px;
    color: #9C0F48;
}

input,
textarea {
    background-color: rgba(114, 114, 114, 0.030);
    text-align: center;
    font: 'Roboto' sans-serif;
    width: 400px;
    height: 40px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* border: 1px solid rgb(114, 114, 114); */
    border: 1px solid #9C0F48;
}

input#enviar {
    margin-top: 10px;
    width: 120px;
    border: 1px solid rgb(114, 114, 114);
    border-style: outset;
    border-radius: 16px;
}

.enviar {
    color: #0B0B0B;
    font-weight: bold;
}

.enviar:active {
    transform: translateY(4px);
    color: #9C0F48;
}

.recebe-info {
    margin: 0 0 10px 0;
}

footer {
    padding: 10px;
    height: 140px;
    color: #F9E4D4;
    background-color: #9C0F48;
    border: 1px solid #9C0F48;
    border-radius: 1em;
    margin-top: 15px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 20px 0px #470D21;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer a {
    text-decoration: none;
    color: inherit;
}

footer p {
    text-align: center;
}

li {
    list-style: none;
}

li img {
    margin-left: 50%;
}

@media screen and (max-width: 700px) {
    .nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: auto;
    }
    .fotos {
        grid-template-columns: 150px 150px;
    }
    .container-fotos {
        height: 200px;
        width: 200px;
    }
    img.borda {
        width: 100px;
        height: 100px;
    }
    .borda:hover {
        height: 120px;
        width: 120px;
    }
    .logodiv {
        display: none;
    }
    .nome {
        margin: auto;
    }
    .header a {
        font-size: 12px;
        padding: -5px;
    }
    nav a:active {
        background-color: rgba(0, 0, 0, 0);
        transform: translateY(3px);
    }
    nav a:hover {
        box-shadow: 0px 0px 0px 0px #00092C;
        border-radius: 5px;
    }
    li img {
        margin-left: 40%;
    }
}